*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: rgb(233, 150, 150);
    font-family: 'Open Sans';
}
#demo
{
    max-width: 900px;
    margin: auto;
    background: linear-gradient(110deg, #ffffff 50%, antiquewhite 50%);
    margin-top: 80px;
}
#demo .box 
{
    box-shadow: 5px solid black
}
#demo .box .inner_box
{

    padding: 5rem 10rem;    /* padding: 100px; */
    text-align: center;
}
#demo .box .inner_box p
{
    word-spacing: 5px;
    font-weight: bold;
    color: rgba(78, 77, 77, 0.856)
}
#demo .box .inner_box img
{
    width: 120px;
    border-radius: 50%;
    margin: auto;
    margin-top: 57px;
}
#demo .image
{
    margin-top: 20px;
    font-weight: bold;
    font-size: 17px;
}
.owl-carousel .owl-nav
{
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.owl-carousel .owl-nav button
{
    height: 50px;
    width: 50px;
    margin: 0 !important;
    background-color: #DF3859 !important;
    border-radius: 0 !important;
    color: aliceblue !important;
    transform: translateY(-50%);
}
.owl-carousel .owl-nav button:hover
{
    opacity: 0.9;
}