*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: Lucida Sans;
}
.items
{
    margin: 0 300px;
}
.items .content
{
    margin: 50px 0;
    position: relative;
}
.content::after
{
    width: 60px;
    height: 60px;
    background-color: #DCA842;
    content: '';
    position: absolute;
    bottom: -7%;
    rotate: 45deg;
    left: 47%;
    z-index: -1;
}
.items .description
{
    padding: 25px 35px;
    background-color: #DCA842;
    color: white;
    font-size: 20px;
    border-radius: 15px;
}
.items .angle1
{
    background-color: #DCA842;
    color: white;
    padding: 15px 7px;
    position: absolute;
    top: -13%;
    left: 2%;
    border-radius: 5px;
}
.items .angle2
{
    background-color: #DCA842;
    color: white;
    padding: 15px 7px;
    position: absolute;
    bottom: -13%;
    right: 2%;
    border-radius: 5px;
}
.items .profile
{
    width: 300px;
    height: 130px;
    padding: 15px;
    border: 1px solid #DCA842;
    border-radius: 10px;
    margin: auto;
    position: relative;
}
.items .pic
{
    width: 100px;
    border-radius: 50%;
    border: 1px solid #DCA842;
    overflow: hidden;
    float: left;
}
.items .title
{
    display: flex;
    flex-direction: column;
    position: absolute; 
    top: 27%;
    right: 10%;
    color: #DCA842;
}
.items .post
{
    margin-top: 12px;
    font-size: 15px;
    color: #888;
}
.title::after
{
    width: 2px;
    height: 80px;
    background-color: #DCA842;
    content: '';
    position: absolute;
    top: -25%;
    left: -20%;
}
.owl-carousel .owl-dots span
{
    background-color: white !important;
    border: 1px solid #DCA842;
    border-radius: 50%;
    padding: 5px;
    transition: .5s;
}
.owl-carousel .owl-dots span:hover
{
    background-color: #DCA842 !important;
}
.owl-dots .owl-dot.active span
{
    background-color: #DCA842 !important;
}