.color {
    background-color: #2874F0;
}

.color button {
    color: white;
    border: 1px solid white;
    margin-left: 10px;
}

.color button:hover{
    color: black;
    background-color: white;
}

span{
    color: white;
    margin-left: 20px;
    font-size: 20px;
}

i{
    margin-right: 5px;
}