*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: Helvetica Neue , sans-serif;
    color: white;
    line-height: 1.2;
}
#slider
{
    margin-top: 30px;
}
.container
{
    width: 1500px;
    margin: auto;
    height: 100%;
}
.item
{
    overflow: hidden;
}
.item h1
{
    font-size: 72px;
    margin-top: 100px;
}
.item p 
{
    font-size: 17px;
}
.content
{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50% , -190%);
}
.item .image 
{
    width: 60%;
    position: absolute;
    top: 45%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50% , -15%);
}
.owl-nav
{
    width: 100%;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.owl-nav span
{
    font-size: 70px;
    transition: .5s;
}
.owl-nav .owl-next
{
    margin-right: 20px !important;
}
.owl-nav .owl-prev
{
    margin-left: 20px !important;
}
.owl-nav:hover .owl-next , .owl-prev 
{
    background-color: transparent !important;
}
.owl-nav .owl-next:hover span
{
    margin-right: -10px;
}
.owl-nav .owl-prev:hover span
{
    margin-left: -10px;
}